.log-area {
    overflow-y: auto;
    max-height: 35vh;
}

.log-area::-webkit-scrollbar {
    width: 8px;
}

.log-area::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
}

.log-area::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.log-area-message {
    margin: 0;
}

.log-area-time {
    color: var(--secondary-text);
    margin: 0;
}
