:root {
  --background-body: #f5f5f5;
  --primary-text: #333;
  --secondary-text: #757575;

  --primary-button-bg: #6200EE;
  --primary-button-text: #FFFFFF;
  --secondary-button-bg: #E0E0E0;
  --secondary-button-text: #212121;
  
  --link-color: #6200EE;
  --link-hover-color: #3700B3;
  
  --container-bg: #e7e7e7;
  --border-color: #BDBDBD;
  
  --success-color: #018786;
  --warning-color: #FFB300;
  --error-color: #D32F2F;

  --page-padding: 1.5em;

  --scrollbar-color: #bdbdbd;

  --slider-height: 12px;
  --slider-thumb-size: 20px;

  --slider-track-color: #E0E0E0;
  --slider-track-hover: hsl(192, 33%, 33%);
  --slider-thumb-color: hsl(192, 100%, 47%);
  --slider-thumb-hover: #3700B3;
  --slider-thumb-active: #018786;
  --slider-progress-color: hsl(192, 33%, 53%);
}

/* Dark Mode Styles */
html[data-theme='dark'] {
  --background-body: #282c34;
  --primary-text: #E0E0E0;
  --secondary-text: #a1a1a1;
  
  --primary-button-bg: #6200EE;
  --primary-button-text: #FFFFFF;
  --secondary-button-bg: #444444;
  --secondary-button-text: #E0E0E0;
  
  --link-color: #BB86FC;
  --link-hover-color: #6200EE;
  
  --container-bg: #1E1E1E;
  --border-color: #333333;
  
  --success-color: #03DAC5;
  --warning-color: #FFB300;
  --error-color: #CF6679;

  --scrollbar-color: var(--secondary-button-bg);

  --slider-track-color: #444444;
  --slider-track-hover: #EFC3F5;
  --slider-thumb-color: #BB86FC;
  --slider-thumb-hover: hsl(297, 100%, 47%);
  --slider-thumb-active: #03DAC5;
  --slider-progress-color: hsl(297, 100%, 83%);
}

html {
  color-scheme: light dark;
}

body {  
  background-color: var(--background-body);
  color: var(--primary-text);
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  
  transition: 
    background-color 0.3s, color 0.3s,
    color 0.3s, color 0.3s;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button.primary {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
}

button.secondary {
  background-color: var(--secondary-button-bg);
  color: var(--secondary-button-text);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container-center {
  max-width: 1400px;
  margin-inline: auto;
  padding: var(--page-padding);
}

.success {
  color: var(--success-color);
}

.error {
  color: var(--error-color);
}

.warning {
  color: var(--warning-color);
}
