.theme-toggle-container {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.switch-wrap {
  cursor: pointer;
  background: var(--theme-toggle-bg);
  padding: var(--theme-toggle-padding);
  width: var(--theme-toggle-width);
  height: var(--theme-toggle-height);
  border-radius: var(--theme-toggle-height);
  position: relative;
  box-shadow: var(--shadow-medium);
  transition: box-shadow 0.3s ease;
}

.switch-wrap:hover {
  box-shadow: var(--shadow-heavy);
}

.switch-wrap input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: 0.2s;
}

.switch::after {
  content: '';
  border-radius: 50%;
  background: var(--theme-toggle-thumb);
  grid-column: 2;
  box-shadow: var(--shadow-medium);
  transition:
    background-color 0.2s,
    box-shadow 0.3 ease;
}

.switch-wrap input:checked + .switch {
  grid-template-columns: 1fr 1fr 0fr;
}

.switch-wrap input:checked + .switch::after {
  background-color: var(--theme-toggle-thumb);
}
